* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
    background-color: #282828;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-   serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    overflow-x: hidden;
  }

/* Title section */

#section {
  height: 100vh;
  width: 100vw;
  display: flex;   
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#section > canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -100;
}
  
#title-left {
  padding-right: 15px;
  border-right: white solid 1px;
}

#title-right {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-   serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  font-weight: 200;
  padding-left: 15px;
}

#title {
  display: flex;
  flex-direction: row; 
}

#nav {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.nav-item:hover {
  font-weight: 400;
}

/* Text */

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  color: pink;
}

ul { 
  list-style: none;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 200;
}

::-webkit-scrollbar {
  background-color: #282828;
  width: 12px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background-color: #545454;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Projects */

#projects {
  width: 100vw;
  height: 100vh;
  background-color: #1b1b1b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects-container {
  height: 70%;
  width: 80%;
  position: relative;
  text-align: center;
}

#projects::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 80px;
  background: linear-gradient(#282828, transparent);
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-   serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 100;
  text-align: center;
  font-size: 15px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
}

#projects-container::before {
  position: absolute;
  left: 50%;
  bottom: 7.5px;
  content: '';
  width: 80%;
  border-radius: 50%;
  height: 2px;
  background-color: #e6e6e6a4;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#projects-container::after {
  position: absolute;
  left: 50%;
  bottom: 0px;
  border-radius: 2px;
  content: '';
  width: 10px;
  height: 10px;
  background-color: #e6e6e6;
  transform: rotate(45deg) translate(-50%);
  -webkit-transform: rotate(45deg) translate(-50%);
  -moz-transform: rotate(45deg) translate(-50%);
  -ms-transform: rotate(45deg) translate(-50%);
  -o-transform: rotate(45deg) translate(-50%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

#nav {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.nav-item:hover {
  font-weight: 400;
} 

.project {
  position: relative;
  width: 20%;
  height: 30%;
  margin: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.project-backdrop {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.project-name {
  position: absolute;
  background: radial-gradient(#28282880, #282828);
  opacity: 1;
  transition: all 0.5s ease-in-out;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.project-name:hover {
  opacity: 0;
  justify-content: baseline;
}

.project-name > h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 100%;
}

#project-list {
  margin-top: 10px;
  width: 100%;
  height: 79%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#contact {
  width: 100vw;
  height: 100vh;
  background-color: #1b1b1b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}